body {
    font-family: 'Times New Roman', Times, serif;
    background-color: #f0f0f0;
    margin: 0;
    padding: 0 100px;
}

.container {
    border-radius: 20px;
    border: 2px solid #333;
    text-align: center;
    margin-top: 60px;
    padding: 20px;
    background-color: rgb(167, 166, 166);
    max-width: 400px;
    margin-left: auto;
    margin-right: auto;
}

h1 {
    color: white;
    font-size: 40px;
    margin-top: 0;
}

.inputresult {
    border: 2px solid #333;
    background-color: #333; 
    color: #fff; 
    height: 70px;
    margin-bottom: 20px; 
    border-radius: 10px;
    font-size: 32px;
    line-height: 70px; 
    text-align: right;
    padding-right: 20px;
}

.btnsection {
    display: flex;
    justify-content: space-between; 
    margin-bottom: 15px; 
}

button {
    width: 75px;
    height: 50px;
    border-radius: 10px;
    border: 1px solid #999;
    font-size: 18px;
    font-weight: bold;
    cursor: pointer;
    background-color: #f0f0f0;
    transition: background-color 0.2s grey;
}